* {
    font-family: "Courier New", Courier, monospace;
}

body {
    background-color: rgb(90, 90, 90);
}

.spiced {
    font-size: 1.2em;
    font-family: "Courier New", Courier, monospace;
    color: navy;
}
