* {
    font-family: "Courier New", Courier, monospace;
    /* margin: 0; */
}

body {
    background-color: rgb(90, 90, 90);
}

#logo {
    width: 50px;
}

#uploader {
    position: fixed;
    background-color: black;
    color: rgb(90, 90, 90);
    width: 550px;
    height: 150px;
    text-align: center;
}

.smallppic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    float: right;
}

.appTop {
    display: inline-block;
    width: 50%;
}

#mainAppContainer {
    display: flex;
    flex-wrap: wrap;
}

#uploaderContainer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}

/* .spiced {
    font-size: 1.2em;
    font-family: "Courier New", Courier, monospace;
    color: navy;
} */
