@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap");

* {
    font-family: "Titillium Web", sans-serif;
    color: white;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #2e3440;
}

#welcome-logo {
    height: 400px;
}

#logo {
    width: 60px;
}

#logo-tag {
    height: 60px;
}

#uploader {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #434c5e;
    color: rgb(90, 90, 90);
    width: 550px;
    height: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.smallppic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    float: right;
    border-radius: 10px;
    margin: 0px 5px 0px 0px;
}

.largeppic {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.appTop {
    display: flex;
    width: 100%;
    background-color: #3b4252;
    padding: 5px 0px 0px 5px;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navlinks {
    display: flex;
    align-items: flex-end;
    padding: 0px 20px;
    margin: 0px 5px;
    text-decoration: none;
    height: 100%;
    font-size: 1.1em;
    color: #88c0d0;
    border: 1px solid #88c0d0;
}

.navlinks:hover {
    background-color: #5e81ac;
    color: #2e3440;
    transition: all 500ms ease;
    align-items: center;
}

#mainAppContainer {
    display: flex;
    flex-wrap: wrap;
}

#uploaderContainer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}

#greetuser {
    width: 100%;
    padding: 15px 5px;
}

#greet-profile {
    width: 100%;
    display: flex;
}

#profile,
#otherProfile {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: #3b4252;
}

#profilepic {
    margin: auto 0;
}

#bioeditor,
#otherProfileInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#otherProfileInfo h1 {
    margin: 10px;
    font-style: italic;
    font-size: 3em;
}

#bioeditor h2,
#otherProfileInfo h2 {
    margin: 0px 10px;
}

.biotext {
    font-size: 1.5em;
    margin: 0px 10px 10px 10px;
    color: #88c0d0;
}

#biotexteditor {
    border: 2px solid #2e3440;
    height: 80px;
    outline: none;
    resize: none;
    margin: 10px;
}

button {
    background-color: #88c0d0;
    color: #2e3440;
    font-size: 1.2em;
    border: 2px solid #d8dee9;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: #5e81ac;
    color: white;
    transition: all 500ms ease;
}

.bioButtons {
    width: 25%;
}

#closeUploader {
    height: 20px;
    width: 20px;
    align-self: flex-end;
    margin: 10px;
}

.people {
    display: flex;
    align-items: center;
    width: 500px;
    background-color: #3b4252;
    border-radius: 10px;
    margin: 5px;
}

.people h2 {
    margin: 20px;
    color: #88c0d0;
}

#findPeople {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.userppic,
.friendppic {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.userppic {
    border: 2px solid #88c0d0;
}

.find-people-link {
    text-decoration: none;
}

textarea,
input {
    color: white;
    background-color: #4c566a;
    font-size: 1.2em;
}

input {
    width: 300px;
    border: none;
    margin: 5px;
}

h1 {
    margin: 0px;
}

h2,
h3,
h4 {
    margin: 5px 0px;
}

#welcome,
#regForm,
#loginForm,
#resetForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#friendsWannabes {
    width: 100%;
}

#friends,
#wannabes,
#wannahaves {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0px;
    /* justify-content: space-evenly; */
}

#friendsWannabes h2 {
    margin: 0px;
    width: 150px;
}

#friendsWannabes button {
    font-size: 1em;
    margin: 2px;
    width: 80px;
}

.friends,
.wannabes,
.wannahaves {
    margin: 0px 5px 0px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 170px;
    background-color: #3b4252;
    padding: 5px;
    border-radius: 10px;
}

.friends p,
.wannabes p,
.wannahaves p {
    font-size: 1.1em;
    margin: 0px;
    color: #88c0d0;
}

.friendppic,
.wannabeppic,
.wannahaveppic {
    height: 120px;
    width: 120px;
    object-fit: cover;
}

#chat-container {
    background-color: #d8dee9;
    height: 600px;
    width: 500px;
    overflow-y: auto;
}

.chat-block {
    display: flex;
    flex-direction: row;
}

.chat-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin: 5px;
}

.chat-details {
    display: inline-block;
}

.chat-details * {
    color: #3b4252;
}

.chat-user-time {
    color: #29aed3;
}

#chat-msg-editor {
    width: 500px;
    height: 80px;
    font-size: 1em;
    background-color: #4c566a;
    outline: none;
    resize: none;
}

#full-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#deleter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
    position: absolute;
}

#del-confirmer {
    text-align: center;
    width: 450px;
    height: 200px;
    background-color: black;
}

/* .spiced {
    font-size: 1.2em;
    font-family: "Courier New", Courier, monospace;
    color: navy;
} */
